services:
  web:
    build: .
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: timescale/timescaledb:latest-pg17
    restart: always
    environment:
      POSTGRES_DB: binance_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Ivan06042006
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  frontend: # <-- НОВЫЙ СЕРВИС ДЛЯ VITE
    image: node:24-alpine # Используем образ Node.js
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules # Используем анонимный том для node_modules внутри контейнера
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host" # Запускает Vite Dev Server
    # Убедитесь, что ваш vite.config.js настроен на host: true
    environment:
      NODE_ENV: development
      
volumes:
  postgres_data: