services:
  web:
    build: .
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  db:
    image: timescale/timescaledb:latest-pg17
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d binance_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

  celery_worker:
    build: .
    command: >
      sh -c "python manage.py wait_for_db &&
             celery -A binance_parser worker --loglevel=info"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - web
  celery_beat:
    build: .
    command: >
      sh -c "python manage.py wait_for_db &&
             celery -A binance_parser beat --loglevel=info --scheduler
             django_celery_beat.schedulers:DatabaseScheduler"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
      - web

  frontend: # <-- НОВЫЙ СЕРВИС ДЛЯ VITE
    image: node:24-alpine # Используем образ Node.js
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules # Используем анонимный том для node_modules внутри контейнера
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host" # Запускает Vite Dev Server
    # Убедитесь, что ваш vite.config.js настроен на host: true
    environment:
      NODE_ENV: development
    depends_on:
      - web

volumes:
  postgres_data:
  redis-data:
