{% extends "base_generic.html" %} 

{% block title %}
<title>График {{ symbol }}</title>
{% load static %}

{% endblock %} 

{% block content %}
<!-- 
  ИЗМЕНЕНА СТРОКА: 
  Теперь src явно указывает на Vite Dev Server (http://127.0.0.1:5173).
-->
<script type="module" src="http://localhost:5173/coins/static/js/chart.js"></script>

<h1>График цены для {{ symbol }}</h1>
<div id="chart" style="width: 100%; height: 600px"></div>
<script type="application/json" id="chart-data">
  {{ chart_data|safe }}
</script>
{% endblock %}
