{% extends "base_generic.html" %}

{% block title %}
<title>График {{ coin }} ({{ resolution }})</title>
{% load static %}
{% endblock %}

{% block content %}

<h1>График цены для {{ coin }} (Resolution: {{ resolution }})</h1>

<div id="chart-container" class="chart-container"></div>

<div id="data-config"
     data-coin="{{ coin }}"
     data-api-url="{% url 'get_klines_api' coin=coin %}"></div>

<!-- Подключение Chart.js через vite -->
<script type="module" src="http://localhost:5173/coins/static/js/main.js"></script>
{% endblock %}